.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  li {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid #dadde1;
    background: #fff;
  }
}

.containerListAndButton {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.images {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: lightgray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerTextContent {
  display: flex;
  width: 524px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.containerTitleAndPrice {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 16px;
}

h2 {
  color: #101828;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.iconPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  p {
    color: #101828;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}

.containerReviewsAndLocation {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.containerReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  p {
    color: #101828;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.icon {
  fill: #ffc531;
}

.description {
  display: -webkit-box;
  width: 525px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #475467;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.buttonShowMore {
  display: flex;
  width: 166px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #e44848;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
  border: none;
  transition: background-color 0.3s ease;
}

.buttonShowMore:hover,
.buttonShowMore:focus {
  background: #d84343;
}

.favoriteIcon {
  cursor: pointer;
}

.favorited {
  fill: rgba(228, 72, 72, 1);
}
